html {
	top: 0;
	left: 0;
	right: 0;
}
body {
	margin: 0;
}
#back_gradient{
	min-height: 100%;
	background-color: #cccccc;
	background: radial-gradient(
		#aae7ff, #1bb8f7
		) no-repeat center center fixed;
}

li {
	float: left;
}

#everything_else {
	margin-top: 50px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 10%;
  padding: 0px;
  margin: 0px;
  display: inline-block;
}

#darker_textrect {
	margin: 10px;
	background-color: black;
	float: left;
}

#Flipped{
	transform: rotate(90deg);
	height: 100%;
}

#photos {
  /* Prevent vertical gaps */
  line-height: 0;

   
  -webkit-column-count: 15;
  -webkit-column-gap:   0px;
  -moz-column-count:    15;
  -moz-column-gap:      0px;
  column-count:         15;
  column-gap:           0px;
  grid-row-gap: 0px;  
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

#first{
	position: absolute;
	top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 50px;
    background-color: white;
    font-family: Jazz LET, fantasy;
    font-style: italic;

}